@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }

  html {
    @apply bg-slate-900;
    @apply text-white;
  }

  body {
    @apply h-screen;
  }

  a {
    @apply hover:underline;
    @apply underline-offset-4;
    @apply decoration-white;
  }

  input {
    @apply px-4;
    @apply py-2;
    @apply text-black;
    @apply rounded-md;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button {
    @apply hover:bg-black;
    @apply hover:text-white;
    @apply transition-all;
    @apply ease-in-out;
    @apply duration-200;
  }
}
